---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout pageTitle="John Chioma">
	<main class="main">
		<section id="intro" class ="intro">
				<!--<p class="">Hi there, I am John Chioma </p>-->
				<p class="name">Utilizing code to build fast, reliable Web Application</p>
				<p>
				</p>
				<!--<p class="job-description">Software Developer</p>-->
		</section>
		<section id="services">
				<div class="section-intro">
					<p>I specialize in developing:</p>
				</div>
				<div class="services pure-g">
					<div class="service-card pure-u-1 pure-u-md-1-5">
						<div class="card-header">
							<svg enable-background="new 0 0 32 32" height="80%" version="1.1" viewBox="0 0 32 32" width="80%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="site"><g id="live_stream_x2C__monitor_1_"><g id="XMLID_2033_"><g id="XMLID_2040_"><g id="XMLID_2043_"><g id="XMLID_2050_"><circle cx="7.5" cy="4.5" fill="#000" id="XMLID_2051_" r="0.5"/></g><g id="XMLID_2048_"><circle cx="5.5" cy="4.5" fill="#000" id="XMLID_2049_" r="0.5"/></g><g id="XMLID_2046_"><circle cx="3.5" cy="4.5" fill="#000" id="XMLID_2047_" r="0.5"/></g><g id="XMLID_2044_"><path d="M30.5,7h-27C3.224,7,3,6.776,3,6.5S3.224,6,3.5,6h27C30.776,6,31,6.224,31,6.5        S30.776,7,30.5,7z" fill="#000" id="XMLID_2045_"/></g></g><g id="XMLID_2041_"><path d="M30.5,22c-0.276,0-0.5-0.224-0.5-0.5v-18C30,3.225,29.776,3,29.5,3h-27       C2.224,3,2,3.225,2,3.5v16C2,19.776,1.776,20,1.5,20S1,19.776,1,19.5v-16C1,2.673,1.673,2,2.5,2h27C30.327,2,31,2.673,31,3.5       v18C31,21.776,30.776,22,30.5,22z" fill="#000" id="XMLID_2042_"/></g></g><g id="XMLID_2038_"><path d="M21.5,31h-11c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1      c0.827,0,1.5-0.673,1.5-1.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v1c0,0.563-0.187,1.082-0.501,1.5h5.002      C18.187,29.582,18,29.063,18,28.5v-3c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v3c0,0.827,0.673,1.5,1.5,1.5h1      c0.276,0,0.5,0.224,0.5,0.5S21.776,31,21.5,31z" fill="#000" id="XMLID_2039_"/></g><g id="XMLID_2034_"><path d="M29.5,26h-27C1.673,26,1,25.327,1,24.5v-3C1,21.224,1.224,21,1.5,21h29      c0.276,0,0.5,0.224,0.5,0.5v3C31,25.327,30.327,26,29.5,26z M2,22v2.5C2,24.775,2.224,25,2.5,25h27c0.276,0,0.5-0.225,0.5-0.5      V22H2z" fill="#000" id="XMLID_2035_"/></g></g></g><g id="XMLID_2029_"><path d="M28.5,15h-25C3.224,15,3,14.776,3,14.5v-6C3,8.224,3.224,8,3.5,8h25    C28.776,8,29,8.224,29,8.5v6C29,14.776,28.776,15,28.5,15z M4,14h24V9H4V14z" fill="#000" id="XMLID_2030_"/></g><g id="XMLID_2027_"><path d="M28.5,17h-11c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h11    c0.276,0,0.5,0.224,0.5,0.5S28.776,17,28.5,17z" fill="#000" id="XMLID_2028_"/></g><g id="XMLID_2025_"><path d="M28.5,19h-11c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h11    c0.276,0,0.5,0.224,0.5,0.5S28.776,19,28.5,19z" fill="#000" id="XMLID_2026_"/></g><g id="XMLID_2023_"><path d="M14.5,17h-11C3.224,17,3,16.776,3,16.5S3.224,16,3.5,16h11c0.276,0,0.5,0.224,0.5,0.5    S14.776,17,14.5,17z" fill="#000" id="XMLID_2024_"/></g><g id="XMLID_2021_"><path d="M14.5,19h-11C3.224,19,3,18.776,3,18.5S3.224,18,3.5,18h11c0.276,0,0.5,0.224,0.5,0.5    S14.776,19,14.5,19z" fill="#263238" id="XMLID_2022_"/></g></g></svg>
						</div>
						<div class="card-content">
							<h1 class="card-title">Website</h1>
							<p class="card-text">clean modern responsive Website,
								optimize for performance, search engine and accessible to all visitors
								regardless of their devices, converting visitors to customers</p>							
							</div>
					</div>
					<div class="service-card pure-u-1 pure-u-md-1-5">
						<div class="card-header">
							<svg xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" viewBox="0 -30 520 410" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M32.001 0h408.722c17.6 0 32.001 14.401 32.001 32.001v96.212a587.863 587.863 0 00-19.029-2.981V89.6h.137H20.337v232.588a8.75 8.75 0 002.589 6.269 8.752 8.752 0 006.269 2.589h259.282c1.864 6.822 4.2 13.506 7.095 20.025H32.001C14.401 351.071 0 336.67 0 319.07V32.001C0 14.401 14.401 0 32.001 0zm329.921 204.736c14.914 4.98 35.672 8.058 58.732 8.058 23.061 0 43.817-3.078 58.733-8.058 13.091-4.369 21.188-9.66 21.188-14.836 0-5.172-8.097-10.463-21.188-14.833-14.916-4.979-35.672-8.06-58.733-8.06-23.06 0-43.818 3.081-58.732 8.06-27.776 9.271-28.539 20.143 0 29.669zm111.97 24.189c4.934 0 8.936 4.001 8.936 8.935s-4.002 8.933-8.936 8.933a8.932 8.932 0 01-8.933-8.933c0-4.934 3.999-8.935 8.933-8.935zm0 52.598c4.934 0 8.936 4.002 8.936 8.935 0 4.934-4.002 8.933-8.936 8.933a8.932 8.932 0 01-8.933-8.933c0-4.933 3.999-8.935 8.933-8.935zm0 50.503a8.938 8.938 0 018.936 8.936c0 4.934-4.002 8.933-8.936 8.933a8.932 8.932 0 01-8.933-8.933c0-4.934 3.999-8.936 8.933-8.936zm26.713-21.846c-4.663 3.191-10.601 6.003-17.624 8.347-16.064 5.364-38.111 8.681-62.327 8.681-24.217 0-46.262-3.317-62.328-8.681-6.932-2.315-12.838-5.084-17.474-8.223v34.029c1.031 4.826 8.888 9.69 21.07 13.756 14.914 4.977 35.672 8.057 58.732 8.057 23.061 0 43.817-3.078 58.733-8.057 9.04-3.019 15.698-6.476 18.954-10.029 2.686-2.933 2.264-4.866 2.264-8.371V310.18zM329.37 189.9c0-10.606 11.066-19.603 28.956-25.576 16.066-5.361 38.114-8.681 62.328-8.681 24.216 0 46.263 3.32 62.329 8.681 16.284 5.436 26.914 13.38 28.69 22.762.212.596.327 1.238.327 1.909v156.608c0 10.858-20.742 20.466-29.019 23.227-16.064 5.363-38.111 8.68-62.327 8.68-24.217 0-46.262-3.317-62.328-8.68-8.471-2.829-28.837-12.119-28.837-23.227v-3.639c0-50.686-.119-101.383-.119-152.064zm11.482 104.13c1.031 4.824 8.888 9.688 21.07 13.754 14.914 4.98 35.672 8.06 58.732 8.06 23.061 0 43.817-3.08 58.733-8.06 13.091-4.369 21.188-9.66 21.188-14.833h.062v-33.073c-4.663 3.191-10.633 6-17.656 8.345-16.064 5.364-38.111 8.68-62.327 8.68-24.217 0-46.262-3.316-62.328-8.68-6.932-2.313-12.838-5.082-17.474-8.221v34.028zm0-50.304c1.031 4.826 8.888 9.69 21.07 13.756 14.914 4.977 35.672 8.058 58.732 8.058 23.061 0 43.817-3.078 58.733-8.058 13.091-4.369 21.188-9.66 21.188-14.836h.062v-35.514c-4.663 3.191-10.633 6.003-17.656 8.345-16.064 5.364-38.111 8.68-62.327 8.68-24.214 0-46.262-3.316-62.328-8.68-6.932-2.313-12.838-5.082-17.474-8.221v36.47zm-208.478-13.883c4.338 3.795 4.775 10.394.98 14.731-3.795 4.338-10.393 4.776-14.731.981l-39.691-34.778c-4.337-3.795-4.775-10.394-.98-14.732a10.46 10.46 0 011.064-1.053l39.607-34.703c4.338-3.795 10.936-3.357 14.731.981s3.358 10.936-.98 14.731l-30.725 26.92 30.725 26.922zm84.685 15.712c-4.337 3.795-10.936 3.357-14.731-.981-3.795-4.337-3.357-10.936.98-14.731l30.725-26.922-30.725-26.92c-4.337-3.795-4.775-10.393-.98-14.731 3.795-4.338 10.394-4.776 14.731-.981l39.607 34.703c.374.32.731.672 1.064 1.053 3.795 4.338 3.357 10.937-.98 14.732l-39.691 34.778zm-45.317-99.492c1.378-5.605 7.04-9.032 12.645-7.654 5.605 1.377 9.032 7.039 7.654 12.644l-25.577 102.935c-1.377 5.606-7.039 9.032-12.644 7.655-5.605-1.378-9.032-7.04-7.655-12.645l25.577-102.935zm238.524-110.09c8.729 0 15.806 7.077 15.806 15.806s-7.077 15.803-15.806 15.803-15.806-7.074-15.806-15.803c0-8.729 7.077-15.806 15.806-15.806zm-107.128 0c8.729 0 15.806 7.077 15.806 15.806s-7.077 15.803-15.806 15.803c-8.728 0-15.805-7.074-15.805-15.803 0-8.729 7.077-15.806 15.805-15.806zm53.566 0c8.728 0 15.803 7.077 15.803 15.806s-7.075 15.803-15.803 15.803c-8.729 0-15.806-7.074-15.806-15.803 0-8.729 7.077-15.806 15.806-15.806z"/></svg>
						</div>
						<div class="card-content">
							<h1 class="card-title">Web App</h1>
							<p class="card-text">Fast and reliable Web Application that automate business
								tasks, increasing profit and flexibility of the business</p>							
							</div>
					</div>
					<div class="service-card pure-u-1 pure-u-md-1-5">
					<div class="card-header">
					<svg data-name="ecom-icon" id="ecom-icon" height="100%" width="100%" viewBox="0 2 34 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title/><polygon class="cls-1" points="26.59 11.96 26.59 26.6 5.49 26.6 5.49 11.96 10.15 11.96 9.91 13.99 9.22 19.82 22.86 19.82 22.17 13.99 21.93 11.96 26.59 11.96"/><polygon class="cls-1" points="24.83 13.99 24.83 25.38 7.25 25.38 7.25 13.99 9.91 13.99 9.22 19.82 22.86 19.82 22.17 13.99 24.83 13.99"/><rect class="cls-1" height="2.44" width="25.47" x="3.3" y="26.6"/><line class="cls-1" x1="12.85" x2="19.22" y1="27.82" y2="27.82"/><polygon class="cls-1" points="22.86 19.82 9.22 19.82 9.91 13.99 10.15 11.96 10.49 9.1 21.59 9.1 21.93 11.96 22.17 13.99 22.86 19.82"/><path class="cls-1" d="M12.71,11.62v-4a2.28,2.28,0,0,1,.88-1.75A3.83,3.83,0,0,1,16,5h0a3.88,3.88,0,0,1,2.35.75,2.31,2.31,0,0,1,1,1.83v4"/></svg>
					</div>
					<div class="card-content">
						<h1 class="card-title">Ecommerce</h1>
						<p class="card-text">Implementation of Ecommerce Platform, Payment Gateway,
						Product Templates and More</p>
					</div>
					</div>
				</div>
				<div class="hire-me">
					<p>Is your business seeking for web presence or in need of web developer?
					<a href="mailto:ugbewijc@gmail.com?subject= Vacancy" class="pure-button cta">Am Available HIRE ME!!</a></p>
				</div>
		</section>
	</main>
</Layout>
